@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@700&family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0;
}

body {
    background: rgb(189, 210, 210);
}

.container, .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 780px;
    margin: 40px auto;
    padding: 0 10px;
}

.container {
    background: #129a93;
    border-radius: 20px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);

}

.header, h1{
    padding: 10px 0;
    font-size: 48px;
    
}

p {
    font-size: 15px;
    text-align: center;
}

h1, h3, p, .btn, .btn-reset {
    font-family: 'Edu NSW ACT Foundation', cursive;
}

h1, h3, p {
    color: yellow;
}

h3 {
    font-size: 24px;
}


.grid-container {
    background: #dfdcdc;
    display: inline-grid;
    grid-gap: 1px;
}

.grid-container#small {
    grid-template-columns: repeat(60, 1fr);
}

.grid-container#medium {
    grid-template-columns: repeat(48, 1fr);
}

.grid-container#big {
    grid-template-columns: repeat(26, 1fr);
}

.grid-box {
    background: #eeeeee;
}

.grid-box.hovered {
    background: #707070;
}

.grid-box#small {
    height: 8.6px;
    width: 8.6px;
}

.grid-box#medium {
    height: 11px;
    width: 11px;
}

.grid-box#big {
    height: 21.2px;
    width: 21.2px;
}

.mode-buttons, .reset-button {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

.reset-button {
    justify-content: flex-end;
    padding: 30px;
}

.btn, .btn-reset {
    padding: 5px;
    border: 0;
    border-radius: 10px;
    background: yellow;
    color: blueviolet;
    font-size: 14px;
    width: 12%;
}

.btn:hover, .btn-reset:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    font-weight: bolder;
    font-size: 15px;
}

.btn-reset {
    color: gray;
}

.footer {
    font-size: 12px;
    color: gray;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}
a {
    text-decoration: none;
    color: inherit;
}
